@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    overflow-x: hidden;
}

body.dark-theme,
body.dark-theme #logo span,
body.dark-theme nav,
body.dark-theme .links a,
body.dark-theme #sidebar,
body.dark-theme button,
body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme h6, 
body.dark-theme p,
body.dark-theme form input,
body.dark-theme i, 
body.dark-theme .inicio i, 
body.dark-theme .habilidade h1,
body.dark-theme .projetos h1,
body.dark-theme .projetos h2    {
    background-color: #000000;
    color: #ffffff; 
}

.switch {
    position: relative;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 9999px;
    background-color: rgba(100, 116, 139, 0.377);
    transition: all .3s ease;
  }
  
  .switch:checked {
    background-color: blue;
  }
  
  .switch::before {
    position: absolute;
    content: "";
    left: calc(1.5rem - 1.6rem);
    top: calc(1.5rem - 1.6rem);
    display: block;
    height: 1.6rem;
    width: 1.6rem;
    cursor: pointer;
    border: 1px solid rgba(100, 116, 139, 0.527);
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
    transition: all .3s ease;
  }
  
  .switch:hover::before {
    box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
  }
  
  .switch:checked:hover::before {
    box-shadow: 0 0 0px 8px rgba(95, 113, 255, 0.15)
  }
  
  .switch:checked:before {
    transform: translateX(100%);
    border-color: blue;
  }



header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav #logo{
    margin-right: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: blue;
}

nav #logo span{
    color: rgb(0, 0, 0);
}

.links {
    margin-left: 100px;
}

nav a {
    margin-right: 50px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: gray;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

nav #fale {
    color: blue;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid blue;
    border-radius: 50px;
    margin-top: -10px;
}

nav #fale:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    margin-top: 90px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.inicio h5 {
    font-size: 20px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

@keyframes animaMarcador {
    50% {
        border-right: transparent;
    }
}

@keyframes animaTexto {
    0% {
        width: 0;
    }
}

.inicio h5 span {
    background-color: blue;
    color: white;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio h3 {
    font-size: 40px;
    margin-top: -28px;
    border-right: 3px solid;
    white-space: nowrap;
    width: 16ch;
    overflow: hidden;
    animation: animaTexto steps(13) 1.5s, animaMarcador 0.5s linear, fadeIn 1.5s forwards ;
}

.inicio h3 span {
    color: blue;
}

.inicio h6 {
    font-weight: 400;
    color: gray;
    font-size: 18px;
    margin-top: -15px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio h1 {
    margin-top: -15px;
    font-size: 40px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-top: -20px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio ul li {
    list-style-type: none;
}

.inicio ul li a {
    text-decoration: none;
    padding: 10px;
}

.inicio ul li a i {
    color: black;
    font-size: 27px;
}

#CV {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}



.sobre {
    height: 600px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre section {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
}

.sobre section div {
    display: flex;
    flex-direction: column;
}

.sobre section img {
    border-radius: 20px;
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.sobre .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s forwards;
    opacity: 0;
}

.sobre .text1 h1 {
    margin-top: 0px;
}

.sobre section p {
    margin-left: 60px;
    width: 700px;
    font-size: 19px;
    text-align: justify;
}

.sobre section h2 {
    margin-left: 60px;
    font-size: 30px;
}

.projetos {
    height: 600px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

#projetos {
    animation: fadeIn 3s forwards;
    opacity: 0;
    font-size: 40px;
}

#projetos span {
    color: blue;
}

.projetos section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetos section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border: 0;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    z-index: 0;
}

.projetos section div h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.projetos section div h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    margin-top: -15px;
}


.projetos section img{
    width: 400px;
    aspect-ratio: 16/10;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    transition: transform 0.5s;

    display: block;
}

.projetos section div:hover {
    transform: scale(1.05);
    z-index: 2;
}



.habilidade  {
    height: 500px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

#habilidade {
    animation: fadeIn 5s forwards;
    opacity: 0;
    font-size: 40px;
    text-align: center;
}

#habilidade span {
    color: blue;
}

.habilidade  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}

.habilidade  section div {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    border: 0;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    padding: 50px;
    width: 200px;
    height: 300px;
}

.habilidade  section div h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.habilidade  section div h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    margin-top: -15px;
}


.habilidade section i{
    font-size: 80px;
    color: blue;
}


@keyframes slideUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 10px;
}
}

.habilidade p {
    width: 300px;
    margin-top: -2px;
    font-size: 15px;
    text-align: left;
}



.contato {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.contato section {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contato .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 200px;
}

.contato .text h1 {
    font-size: 40px;
}

.contato .text h1 span {
    color: blue;
}

.contato .text p {
    width: 350px;
    text-align: center;
    font-weight: 200;
    text-align: justify;
}

.contato .contatos {
    margin-top: 50px;
}

.contato .text .contatos div {
    display: flex;
    align-items: center;
}

.contato .text .contatos h4 {
    font-weight: 600;
}

.contato .zap {
    display: flex;
    flex-direction: row;
    margin-bottom:-20px;
}

.contato i {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 20px;
}

.contato .inputs form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
    border: 2px solid blue;
}

.contato .inputs form input{
    width: 500px;
    height: 50px;
    border: 0;
    margin-bottom: 10px;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.contato .inputs form input::placeholder{
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.contato .inputs form button{
    width: 300px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 0;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;
}

.contato .inputs form button:hover{
    color: blue;
}

footer p{
    background-color: blue;
    width: 100%;
    height: 30px;
    padding: 20px;
    padding-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}




#sidebar.open {
    left: 0;
}


.menu-toggle {
    display: none; 
    cursor: pointer;
    font-size: 30px;
    margin-right: 20px;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}


.links {
    display: flex; 
    gap: 15px;
}


@media (max-width: 768px) {
    #sidebar {
        position: fixed;
        left: -150%;
        margin-left: 20px;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
    }
  
    .links {
        display: none;
    }

    .links a {
        padding: 10px;
    }

    #fale {
        padding: 25px;
    }
    .menu-toggle {
        display: block;
    }
}





@media screen and (max-width: 768px) {
  
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#theme-toggle {
    display: none;
}

nav #logo{
    margin-right: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: blue;
}

nav #logo span{
    color: rgb(0, 0, 0);
}

.links {
    margin-left: 100px;
}

nav a {
    margin-right: 50px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: gray;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

nav #fale {
    color: blue;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid blue;
    border-radius: 50px;
}

nav #fale:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    margin-top: 90px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.inicio h5 {
    font-size: 18px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

@keyframes animaMarcador {
    50% {
        border-right: transparent;
    }
}

@keyframes animaTexto {
    0% {
        width: 0;
    }
}

.inicio h5 span {
    background-color: blue;
    color: white;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio h3 {
    font-size: 34px;
    margin-top: -28px;
    border-right: 3px solid;
    white-space: nowrap;
    width: 16ch;
    overflow: hidden;
    animation: animaTexto steps(13) 1.5s, animaMarcador 0.5s linear, fadeIn 1.5s forwards ;
}

.inicio h3 span {
    color: blue;
}

.inicio h6 {
    font-weight: 400;
    color: gray;
    font-size: 15px;
    margin-top: -15px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio h1 {
    margin-top: -15px;
    font-size: 35px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-top: -20px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio ul li {
    list-style-type: none;
}

.inicio ul li a {
    text-decoration: none;
    padding: 10px;
}

.inicio ul li a i {
    color: black;
    font-size: 27px;
}

#CV {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}



.sobre {
    height: 600px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre section {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre section div {
    display: flex;
    flex-direction: column;
}

.sobre section img {
    border-radius: 20px;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.sobre .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s forwards;
    opacity: 0;
}

.sobre .text1 h1 {
    margin-top: 0px;
}

.sobre section p {
    margin-left: 0px;
    width:400px;
    font-size: 15px;
    text-align: justify;
    margin-top: -5px;
}

.sobre section h2 {
    margin-left: 0px;
    font-size: 23px;
    margin-top: 30px;
}

.projetos {
    height: 1400px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 200px;
}

#projetos {
    animation: fadeIn 3s forwards;
    opacity: 0;
    font-size: 40px;
}

#projetos span {
    color: blue;
}

.projetos section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border: 0;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    z-index: 0;
}

.projetos section div h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.projetos section div h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    margin-top: -15px;
}


.projetos section img{
    width: 400px;
    aspect-ratio: 16/10;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    transition: transform 0.5s;

    display: block;
}

.projetos section div:hover {
    transform: scale(1.05);
    z-index: 2;
}



.habilidade  {
    height: 1000px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

#habilidade {
    animation: fadeIn 5s forwards;
    opacity: 0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 180px;
}

#habilidade span {
    color: blue;
}

.habilidade  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
}

.habilidade  section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 0;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -180px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    padding: 50px;
    width: 200px;
    height: 300px;
}

.habilidade  section div h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 20px;
}

.habilidade  section div h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    margin-top: -15px;
}


.habilidade section i{
    font-size: 80px;
    color: blue;
}


@keyframes slideUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 10px;
}
}

.habilidade p {
    width: 300px;
    margin-top: -2px;
    font-size: 12px;
    text-align: center;
}



.contato {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 150px;
    flex-direction: column;
}

.contato section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contato .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}

.contato .text h1 {
    font-size: 40px;
}

.contato .text h1 span {
    color: blue;
}

.contato .text p {
    width: 350px;
    text-align: center;
    font-weight: 200;
    text-align: justify;
}

.contato .contatos {
    margin-top: 50px;
    display: none;
}

.contato .text .contatos div {
    display: flex;
    align-items: center;
}

.contato .text .contatos h4 {
    font-weight: 600;
}

.contato .zap {
    display: flex;
    flex-direction: row;
    margin-bottom:-20px;
}

.contato i {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 20px;
}

.contato .inputs form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
    border: 2px solid blue;
    width: 400px;
    margin-top: 50px;
}

.contato .inputs form input{
    width: 350px;
    height: 50px;
    border: 0;
    margin-bottom: 10px;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.contato .inputs form input::placeholder{
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.contato .inputs form button{
    width: 300px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 0;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;
}

.contato .inputs form button:hover{
    color: blue;
}

footer p{
    background-color: blue;
    width: 100%;
    height: 10px;
    padding: 20px;
    padding-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}

}


@media screen and (max-width: 480px) {
    #sidebar {
        position: fixed;
        left: -150%;
        margin-left: 20px;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
    }
  
    .links {
        display: none;
    }

    .links a {
        padding: 10px;
    }

    #fale {
        padding: 25px;
    }
    .menu-toggle {
        display: block;
    }
}





@media screen and (max-width: 768px) {
  
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#theme-toggle {
    display: none;
}

nav #logo{
    margin-right: 150px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: blue;
}

nav #logo span{
    color: rgb(0, 0, 0);
}

.links {
    margin-left: 100px;
}

nav a {
    margin-right: 50px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: gray;
}

nav a:hover {
    color: rgb(0, 0, 0);
}

nav #fale {
    color: blue;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid blue;
    border-radius: 50px;
}

nav #fale:hover {
    color: rgb(255, 255, 255);
    background-color: blue;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    margin-top: 90px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.inicio h5 {
    font-size: 18px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

@keyframes animaMarcador {
    50% {
        border-right: transparent;
    }
}

@keyframes animaTexto {
    0% {
        width: 0;
    }
}

.inicio h5 span {
    background-color: blue;
    color: white;
    padding: 2px;
    padding-left: 12px;
    padding-right: 12px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio h3 {
    font-size: 34px;
    margin-top: -28px;
    border-right: 3px solid;
    white-space: nowrap;
    width: 16ch;
    overflow: hidden;
    animation: animaTexto steps(13) 1.5s, animaMarcador 0.5s linear, fadeIn 1.5s forwards ;
}

.inicio h3 span {
    color: blue;
}

.inicio h6 {
    font-weight: 400;
    color: gray;
    font-size: 15px;
    margin-top: -15px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio h1 {
    margin-top: -15px;
    font-size: 35px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    margin-top: -20px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}

.inicio ul li {
    list-style-type: none;
}

.inicio ul li a {
    text-decoration: none;
    padding: 10px;
}

.inicio ul li a i {
    color: black;
    font-size: 27px;
}

#CV {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color: blue;
    color: white;
    text-decoration: none;
    margin-top: 15px;
    animation: fadeIn 1.5s forwards;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
}



.sobre {
    height: 600px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre section {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sobre section div {
    display: flex;
    flex-direction: column;
}

.sobre section img {
    border-radius: 20px;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.sobre .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 3s forwards;
    opacity: 0;
}

.sobre .text1 h1 {
    margin-top: 0px;
}

.sobre section p {
    margin-left: 0px;
    width:320px;
    font-size: 15px;
    text-align: justify;
    margin-top: -5px;
}

.sobre section h2 {
    margin-left: 0px;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

.projetos {
    height: 1400px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 220px;
}

#projetos {
    animation: fadeIn 3s forwards;
    opacity: 0;
    font-size: 40px;
}

#projetos span {
    color: blue;
}

.projetos section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projetos section div {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    border: 0;
    margin: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    z-index: 0;
}

.projetos section div h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

.projetos section div h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    margin-top: -15px;
}


.projetos section img{
    width: 320px;
    aspect-ratio: 16/10;
    object-fit: cover;
    border-radius: 25px;
    padding: 20px;
    transition: transform 0.5s;

    display: block;
}

.projetos section div:hover {
    transform: scale(1.05);
    z-index: 2;
}



.habilidade  {
    height: 1000px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

#habilidade {
    animation: fadeIn 5s forwards;
    opacity: 0;
    font-size: 27px;
    text-align: center;
    margin-bottom: 180px;
}

#habilidade span {
    color: blue;
}

.habilidade  section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    flex-direction: column;
}

.habilidade  section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: 0;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -180px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    padding: 50px;
    width: 200px;
    height: 300px;
}

.habilidade  section div h1 {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-size: 20px;
}

.habilidade  section div h2 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 15px;
    margin-top: -15px;
}


.habilidade section i{
    font-size: 80px;
    color: blue;
}


@keyframes slideUp {
    from {
        bottom: 0;
    }
    to {
        bottom: 10px;
}
}

.habilidade p {
    width: 300px;
    margin-top: -2px;
    font-size: 12px;
    text-align: center;
}



.contato {
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 150px;
    flex-direction: column;
}

.contato section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contato .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
}

.contato .text h1 {
    font-size: 40px;
}

.contato .text h1 span {
    color: blue;
}

.contato .text p {
    width: 320px;
    text-align: center;
    font-weight: 200;
    text-align: justify;
}

.contato .contatos {
    margin-top: 50px;
    display: none;
}

.contato .text .contatos div {
    display: flex;
    align-items: center;
}

.contato .text .contatos h4 {
    font-weight: 600;
}

.contato .zap {
    display: flex;
    flex-direction: row;
    margin-bottom:-20px;
}

.contato i {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 20px;
}

.contato .inputs form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 20px;
    border: 2px solid blue;
    width: 320px;
    margin-top: 50px;
}

.contato .inputs form input{
    width: 300px;
    height: 50px;
    border: 0;
    margin-bottom: 10px;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

.contato .inputs form input::placeholder{
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.contato .inputs form button{
    width: 300px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: 0;
    font-size: 15px;
    margin-top: 40px;
    cursor: pointer;
    font-weight: 500;
}

.contato .inputs form button:hover{
    color: blue;
}

footer {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    background-color: blue;
    width: 352px;
    height: 10px;
    padding: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
}
}
